*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary : #4F5DE4;
    --eduact-font: 'Urbanist', sans-serif;
    --heading-font: 'Urbanist', sans-serif;
    --eduact-text: #697585;
    --eduact-text-rgb: 105, 117, 133;
    --eduact-text2: #B3ADE1;
    --eduact-text2-rgb: 179, 173, 225;
    --eduact-grey: #B7B0B4;
    --eduact-grey-rgb: 183, 176, 180;
    --eduact-soft: #F1F2FD;
    --eduact-soft-rgb: 241, 242, 253;
    --eduact-soft2: #F6F5F5;
    --eduact-soft2-rgb: 246, 245, 245;
    --eduact-soft3: #E0E3FD;
    --eduact-soft3-rgb: 224, 227, 253;
    --eduact-soft4: #E4E4E4;
    --eduact-soft4-rgb: 228, 228, 228;
    --eduact-soft5: #F6F6F6;
    --eduact-soft5-rgb: 246, 246, 246;
    --eduact-base: #4F5DE4;
    --eduact-base-rgb: 79, 93, 228;
    --eduact-secondary: #F57005;
    --eduact-secondary-rgb: 245, 112, 5;
    --eduact-black: #2A254D;
    --eduact-black-rgb: 42, 37, 77;
    --eduact-black2: #000000;
    --eduact-black2-rgb: 0, 0, 0;
    --eduact-white: #ffffff;
    --eduact-white-rgb: 255, 255, 255;
    --LightBlue : #4550b8;
    --PurpleStrip :#552756;
}
a{
    text-decoration: none;
}
.text-primary{
    color: var(--primary) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
}

.bg-LightGrey{
    background-color: #efefef !important;
}
.bg-DarkGrey {
    color: #444444;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-50{
    font-size: 50px;
}
.fs-60{
    font-size: 60px;
}
.fs-80{
    font-size: 80px;

}

.fw-600 {
    font-weight: 800;
}

.h-image-rounded {
    height: 350px;
}

.Secondary-orange {
    color: var(--eduact-secondary) !important;
    margin-bottom: 10px;
}
.Secondary-orange-fotter{
    color: var(--eduact-secondary) !important;

}

/* home seond section css starting here */
body {
    font-family: var(--eduact-font);
    color: var(--eduact-text);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    overflow-x: hidden !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--eduact-black);
    font-weight: 700;
}

.text-decoration-underline{
    text-decoration: underline;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pb-100{
    
    padding-bottom: 100px;
}

.lh-1{
    line-height: 1;
}


.btn-hover {
    width: 132px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 42px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    border-radius: 30px 0px 30px 0px;
    text-transform: uppercase;
}

.btn-hover:hover {
    background-position: 100% 0;
   
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.pt-pb{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right,#e85a19,#fa7199,#e43603, #f5ce62);
    /* box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
}



.DiscoverMore-Abouts {
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    height: 50px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    text-transform: uppercase;
   
}

.DiscoverMore-Abouts:hover {
    background-position: 100% 0;
   
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.DiscoverMore-Abouts:focus{
    outline: none;
}

.DiscoverMore-Abouts{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    /* box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
}




@media (max-width:992px) {
    .py-md-80{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .pb-md-80{
        
        padding-bottom: 80px;
    }
    
}
@media (max-width:768px) {
    .py-sm-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pb-sm-50{
        
        padding-bottom: 50px;
    }
    
}
/* home page second section css starting here  */
/* Header css starting here  */
/* Header css starting here  */
/* Header css ending here  */
.Header-strip-wrapper {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
    background-color: var(--eduact-white);
    /* box-shadow: 10px 3px 5px #aaaaaa; */
    z-index: 55;
    padding: 0px;
    border-bottom: 2px solid #efefef;

}
.Header-strip-wrapper ul li{
    font-weight: 600;
    color: var(--eduact-black);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.Header-strip-wrapper ul {
    list-style: none;
}

.Header-strip-wrapper ul .fa-solid{
    color: var(--eduact-base);
}

nav.bg-body-tertiary.bg-white.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
    position: sticky;
    top: 27px;
    z-index: 55;
    margin: 0px 0px;
    
    /* box-shadow: 10px 3px 5px #aaaaaa; */
    box-shadow: 0px 4px 5px #aaaaaa;
}


/* header css starting here  */
@media (min-width:992px) and (max-width:2200px) {
    .container-postition-Header{
        position: relative;
    }
    .Navbar-wrapper-home div#navbarScroll {
        position: absolute;
        right: 0;
    }
    img.CommonSiteLogo {
        margin-left: 8rem;
    }
}
/* header css starting here  */


div#navbarScroll{
    background-color: var(--LightBlue);
}

@media (min-width:1200px) and (max-width:1800px) {
    div#navbarScroll{
        height: 56px;
    }  
    .Header-rounder-Telephone {
        height: 52px;
    }
}

.bg-body-tertiary .nav-link  {
    color: var(--eduact-white);
}
@media (min-width: 1200px){
.gap-xl-5 {
    gap: 2rem !important;
}
}

@media (min-width:200px) and (max-width:991px) {
     .Header-small-scrren{
        border-bottom-left-radius:0px !important;
        border-top-left-radius: 0px !important;
    }
    .Header-strip-wrapper {
        display: none;
    }
    nav.bg-body-tertiary.bg-white.navbar.navbar-expand-lg.navbar-light {
       
        top: 0px;
       
    }
}
/* Header css ending here  */





.tiltLiner svg{
    width: 96px;
    height: auto;
}

.tiltLiner h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.4px;
    margin: 0 0 19px;
}

.RightBannerTiltliner{
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 5;
    
}
.RightBannerTiltliner img {
    width: 500px;
    height: auto;
}

.eduction-trymore{
    background-color: var(--eduact-secondary);
    color: white;
}
/* .wrapper-arrow{
    position: absolute;
    right: 0;
    top: 57%;
} */
/* .Pencil-wrapper {
    position: absolute;
    left: -50px;
    top: 65%;
} */
.Buld-wrapper {
    position: absolute;
    top: 10%;
    left: 22%;
    z-index: 6;
}
/* .RoundDotted {
    position: absolute;
    top: 11%;
    left: 23%;
    z-index: 2;
} */
/* .Bookwrapper{
    position: absolute;
    bottom: 0;
} */
.Bookwrapper {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 6;
}

/* @media (min-width:200px) and (max-width:1200px) {
    .wrapper-arrow ,.Pencil-wrapper , .RoundDotted, .Buld-wrapper{
        display: none;
    }
    
} */

@media (min-width:200px) and (max-width:700px) {
    .tiltLiner h2 {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.4px;
        margin: 0 0 19px;
    }
    .ProvideBestSupport{
        margin-top: 14px;
    }
    
}
/* home page second section css ending here  */



/* home thrid section tropy starting here  */

.ProvideBestSupport:hover .fa-solid.fa-check::after  {
    background-color: var(--eduact-secondary) !important;
}

.wrapper-aboutus-left img{
    z-index: 3;
}









.RightWapperAboutUS .fa-angles-right{
    color: var(--eduact-secondary);
}




.Wrapper-Flexible-classes svg{
    fill: var(--eduact-secondary);
    width: 295px;
    height: auto;
}
.Text-FlexibleClasses {
    position: absolute;
    top: 3%;
    left: 30%;
    z-index: 5;
}
.Flexibles-Clases-Bottom-Text {
    position: absolute;
    top: 50px;
    left: 20%;
}

.Presentation-AboutUs {
    position: absolute;
    bottom: 23px;
    left: 29px;
}
.Presentation-AboutUs  .fa-solid, .fas {
    color: white;
    font-weight: 900;
    font-size: 32px;
}


.Wrapper-RightICon_aboutUS .fa-check:before {
    background-color: var(--eduact-base);
    padding: 7px 8px;
    border-radius: 50%;
    color: var(--eduact-white);
}


.TiltLiner {
    position: absolute;
    top: 85px;
    left: -99px;
}
.DiscoverMore-Abouts{

    background-color: var(--eduact-base);
    color: var(--eduact-white);

}

.Section-AboutUs{
    width: 100%;
    height: 100%;
}

@media (min-width:200px) and (max-width:768px){
    .RightBannerTiltliner {
        padding: 33px;
        position: absolute;
        top: 10%;
        left: -6%;
        z-index: 5;
    }
    .RightBannerTiltliner img {
        width: 100%;
        height: auto;
    }
    .Section-AboutUs{
        margin-top: 30px;
    }
 
    
   
   
  
    .wrapper-dotted-aboutus{
        display: none;
    }
   

    .wrapper-aboutus-left {
        text-align: center;
    }
    .wrapper-aboutus-left img {
        z-index: 3;
        width: 100%;
    }
}
@media (min-width:200px) and (max-width:768px) {
    .Flexibles-Clases-Bottom-Text {
        position: absolute;
        top: 50px;
        left: 27%;
    }
}

@media (min-width:768px) and (max-width:820px) {
    .Text-FlexibleClasses {
        position: absolute;
        top: 3%;
        left: 23%;
        z-index: 5;
    }
    .RightWapperAboutUS {
        margin-top: 116px;
    }
}
/* home thrid section tropy ending here  */






/* foooter css starting here  */
.Footer-section{
    width: 100%;
    height: 100%; 
    background-color: var(--eduact-black);
    
}
footer {
    background-image: url('https://bracketweb.com/eduact-html/assets/images/shapes/footer-bg-2.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.Footer-section ul{
    list-style: none;
    padding: 0px 25px;
    margin-bottom: 0px !important;


}
.Footer-section ul li{
   margin: 5px 0px;
   font-size: 14px;
   color: #8689a7;
   font-family: sans-serif;


}
.right-arrow-foter-wrapper .fa-chevron-right{
    font-size: 8px;
    color: var(--eduact-white);
}
.Footer-section ul h5{
    font-size: 16px;
}
.Footer-section ul span{
    font-size: 14px;
}
.Footer-section  .wrapper-container-footer  .fa-location-dot,  .fa-envelope{
   color: var(--eduact-white);
   
}
.Footer-section  .wrapper-container-footer  .fa-phone-volume{
   color: var(--eduact-white);

}
.wrapper-container-footer h5{
    text-transform: uppercase;
}
.Footer-SocialIcons .Facebook , .Linkedin, .Twitter, .Youtube{
    text-align: center;
    border: 1px solid var(--eduact-base);
    padding: 4px 11px;
    border-radius: 50%;
    color: white;
    transition: 0.5s;
}
.Footer-SocialIcons .Facebook:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Linkedin:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Twitter:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Youtube:hover{
    background-color: var(--eduact-base);
}
.wrapper-image-Gallery .col-lg-4 {
    margin: 10px 0px;
  
}
.wrapper-image-Gallery .col-lg-4 img {
    border-radius: 5px;
  
}
@media (min-width:200px) and (max-width:820px) {
    .wrapper-image-Gallery img{
        width: 100% !important;
        height: auto !important;
    }
    
}
.Mini-Footer-Wrapper{
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #1F1944;
    text-align: center;
}
.Mini-Footer-Wrapper h6{
    color: var(--eduact-text2);
}



/* .Learining-wrapper{
    background-image: url('https://www.ilac.com/wp-content/uploads/2023/06/DREAM-BIG-3D-1-2.0.png');
    background-position: center;
    background-size: cover;
} */


/* foooter css ending here  */


/* BlogVideoNotice   css strting here  */
/* BlogVideoNotice   css strting here  */
/* BlogVideoNotice   css strting here  */
/* BlogVideoNotice   css strting here  */
.Blog-Video-Notice-wrapper{
    width: 100%;
    height: 100%;

}

.Blogs-card-wrapper-grid-common .card {
    box-shadow: 5px 5px #f7f7f7;
}
.text-wrapper-combine-vbn h1{
    font-size: 16px;
    color: var(--LightBlue);
    font-weight: 600;

}
.NoticeBoard-wrapper {
    border: 1px solid #0000002d;
    box-shadow: 5px 5px #efefef;
    height: 320px;
}


@media (min-width:200px) and (max-width:992px) {
    .text-wrapper-combine-vbn   .col-lg-4 {
        margin: 20px 0px;
    }
    
}
/* BlogVideoNotice   css ending here  */
/* BlogVideoNotice   css ending here  */
/* BlogVideoNotice   css ending here  */
/* BlogVideoNotice   css ending here  */



/* whatsapp icon css starting here  */
.wrapper-whats-appicon {
    position: absolute;
    bottom: 2%;
    right: 0;
    z-index: 55;
    position: fixed;
}
.wrapper-whats-appicon .fa-whatsapp{
    background-color: #03A84E;
    color: var(--eduact-white);
    padding: 15px;
    border-radius: 50%;
    font-size: 28px;
}
.wrapper-zoom-meeting{
    position: absolute;
    bottom: 2%;
    left: 2%;
    z-index: 55;
    position: fixed;
}
.wrapper-zoom-meeting .fa-video {
    background-color: var(--eduact-secondary);
    color: var(--eduact-white);
    padding: 15px;
    border-radius: 50%;
    font-size: 28px; 
}
/* whatsapp icon css ending here  */




/* ourservice css starting here  */
/* ourservice css starting here  */
/* ourservice css starting here  */
/* ourservice css starting here  */

.service-two {
    position: relative;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding:  85px 0px;
    background-image:url('https://bracketweb.com/eduact-html/assets/images/shapes/service-bg-2.jpg')
  }
  
  .section-title {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
  
  .section-title__tagline {
    font-size: 24px;
    line-height: 26px;
    text-transform: capitalize;
    color: #4f5de4;
    margin: 0 0 11px;
    position: relative;
    z-index: 2;
    padding: 0 20px;
  }
  
  .section-title.text-center .section-title__tagline svg {
    right: 0;
    margin: auto;
  }
  
  .section-title__tagline svg.arrow-svg {
    position: relative;
    display: inline-block;
    width: 55px;
    overflow: hidden;
    margin: 0 0 0 9px !important;
    fill: #f57005;
  }
  
  .section-title__tagline svg {
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    width: 133px;
    height: 13px;
  }
  
  .section-title__title {
    font-size: 40px;
    line-height: 47px;
    color: #2a254d;
    margin: 0;
  }
  
  .service-two__item {
    position: relative;
    border-radius: 10px;
    margin: 0 0 36px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
  }
  
  .service-two__wrapper {
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .service-two__item svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 117px;
    transition: 300ms ease;
    fill: #f6f6f6;
  }
  
  .service-two__icon {
    width: 166px;
    height: 166px;
    background-color: #f57005;
    font-size: 60px;
    line-height: 1;
    position: relative;
    z-index: 3;
    color: #ffffff;
    margin: -66px auto 35px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 50%;
    transition: 500ms ease;
    padding: 0 0 22px;
  }
  
  .service-two__icon span {
    display: inline-block;
    transition: all 500ms linear;
    transition-delay: 0s;
    transition-delay: 0.1s;
    transform: scale(1);
  }
  
 
  .icon-education:before {
    content: "\e90f";
  }
  
  .service-two__title {
    font-size: 20px;
    margin: 0 25px 18px;
  }
  
  .service-two__title a {
    color: inherit;
  }
  
  .service-two__text {
    font-weight: 500;
    max-width: 230px;
    margin: 0 auto 32px;
    color: rgb(105, 117, 133);
  }
  
  .service-two__title a:hover {
    color: #4f5de4;
  }
  
  .service-two__rm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-top: 1px solid #e4e4e4;
    color: #2a254d;
    font-weight: 700;
    font-size: 16px;
    z-index: 2;
  }
  
  .service-two__rm::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    transition: 500ms ease;
    background-image: url(https://bracketweb.com/eduact-html/assets/images/resources/service-rm.png);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
    z-index: -1;
    transform: scale(1.1);
  }
  
  .service-two__rm span {
    color: #f57005;
    font-size: 10px;
    position: relative;
    top: 1px;
    padding-left: 10px;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .icon-caret-right:before {
    content: "\ea3c";
  }
  
  .service-two__rm::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(var(0, 0, 0, 0.46));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
    transform: scale(1.1);
    z-index: -1;
  }
  
/* ourservice css ending here  */
/* ourservice css ending here  */
/* ourservice css ending here  */
/* ourservice css ending here  */



/* Happy-student-Strip-wrapper   section css starting here  */
/* .Happy-student-Strip-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
}

@media (min-width:200px) and (max-width:1200px)
{
    .Happy-student-Strip-wrapper  .col-lg-3{
        margin: 14px 0px;
    }
} */

/* .fact-one {
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 120px 0;
    border-bottom: 1px solid var(--eduact-soft4);
}
@media (min-width: 1200px) and (max-width: 1399px){
.fact-one__item {
    padding: 38px 25px 40px;
}
}
.fact-one__item {
    position: relative;
    border-radius: 14px;
    background: var(--eduact-white);
    box-shadow: -1px 3px 60px 0px rgba(var(--eduact-black2-rgb), 0.07);
    padding: 50px 25px 53px;
    transition: 500ms ease;
}


.fact-one__item svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fact-one__count {
    display: block;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--eduact-secondary);
    margin: 0 0 9px;
    position: relative;
    z-index: 2;
}

.fact-one__title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: var(--eduact-text);
    position: relative;
    z-index: 2;
} */
/* Happy-student-Strip-wrapper   section css ending here  */

/* CareerCounsellingStrip   css starting here  */
.CareerCounsellingStrip-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
}
@media (max-width: 992px){
.pb-md-80 {
    padding-bottom: 40px;
}
}
.CareerCounsellingStrip-wrapper  button {
    border-radius: 51px;
    padding: 7px 47px;
    background-color: white !important;
    color: #000000 !important;
    font-weight: 500;
}
/* CareerCounsellingStrip   css ending here  */
section.courses-review-wrapper{
    background-color: #efefef;
}

/* dashdotted ourservice after css starting here  */
/* dashdotted ourservice after css starting here  */
/* dashdotted ourservice after css starting here  */
/* dashdotted ourservice after css starting here  */
.fact-one {
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 120px 0;
    border-bottom: 1px solid var(--eduact-soft4);
  }
  
  @media (max-width: 991px) {
    .fact-one {
      padding-bottom: 85px;
    }
  }
  
  @media (max-width: 767px) {
    .fact-one {
      padding: 80px 0 55px;
    }
  }
  
  .fact-one__item {
    position: relative;
    border-radius: 14px;
    background: var(--eduact-white);
    box-shadow: -1px 3px 60px 0px rgba(var(--eduact-black2-rgb), 0.07);
    padding: 50px 25px 53px;
    transition: 500ms ease;
  }
  
  @media (max-width: 991px) {
    .fact-one__item {
      max-width: 303px;
      margin: 0 auto 36px;
    }
  }
  
  @media (min-width: 991px) and (max-width: 1199px) {
    .fact-one__item {
      padding: 26px 25px 27px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1399px) {
    .fact-one__item {
      padding: 38px 25px 40px;
    }
  }
  
  .fact-one__item svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .fact-one__item svg rect {
    stroke: var(--eduact-base);
    transition: 500ms ease;
  }
  
  .fact-one__item:hover {
    /* box-shadow: -1px 3px 60px 0px rgba(var(--eduact-black2-rgb), 0.12); */
  }
  
  .fact-one__item:hover svg rect {
    stroke: var(--eduact-secondary);
  }
  
  .fact-one__count {
    display: block;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--eduact-secondary);
    margin: 0 0 9px;
    position: relative;
    z-index: 2;
  }
  
  .fact-one__count .count-box {
    display: inline-flex;
  }
  
  .fact-one__title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: var(--eduact-text);
    position: relative;
    z-index: 2;
  }
  
  .fact-two {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0 0 120px;
    border-bottom: 1px solid var(--eduact-soft4);
  }
  
  @media (max-width: 767px) {
    .fact-two {
      padding: 0 0 80px;
    }
  }
  
  .fact-two__inner {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--eduact-base);
    border-radius: 0 0 40px 40px;
    padding: 50px 25px;
  }
  
  .fact-two__item {
    position: relative;
    padding: 25px 0 18px;
    transition: 500ms ease;
  }
  
  @media (max-width: 767px) {
    .fact-two__item {
      padding-bottom: 25px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .fact-two__item--smnone::after {
      display: none;
    }
  }
  
  .fact-two__item--noborder::after {
    display: none;
  }
  
  .fact-two__item::after {
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 2px;
    content: '';
    border-right: 2px dashed rgba(var(--eduact-white-rgb), 0.4);
  }
  
  @media (max-width: 767px) {
    .fact-two__item::after {
      right: 0;
      width: 100%;
      height: 2px;
      top: auto;
      border-right: none;
      border-bottom: 2px dashed rgba(var(--eduact-white-rgb), 0.4);
    }
  }
  
  .fact-two__item:hover .fact-two__icon span {
    transform: rotateY(360deg);
  }
  
  .fact-two__icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 70px;
    color: var(--eduact-secondary);
    margin-bottom: 15px;
  }
  
  .fact-two__icon span {
    display: block;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  
  .fact-two__count {
    display: block;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--eduact-white);
    margin: 0 0 7px;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 1199px) {
    .fact-two__count {
      font-size: 50px;
    }
  }
  
  .fact-two__count .count-box {
    display: inline-flex;
  }
  
  .fact-two__title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: var(--eduact-soft4);
    position: relative;
    z-index: 2;
  }  
/* dashdotted ourservice after css ending here  */
/* dashdotted ourservice after css ending here  */
/* dashdotted ourservice after css ending here  */
/* dashdotted ourservice after css ending here  */