*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary : #4F5DE4;
    --eduact-font: 'Urbanist', sans-serif;
    --heading-font: 'Urbanist', sans-serif;
    --eduact-text: #697585;
    --eduact-text-rgb: 105, 117, 133;
    --eduact-text2: #B3ADE1;
    --eduact-text2-rgb: 179, 173, 225;
    --eduact-grey: #B7B0B4;
    --eduact-grey-rgb: 183, 176, 180;
    --eduact-soft: #F1F2FD;
    --eduact-soft-rgb: 241, 242, 253;
    --eduact-soft2: #F6F5F5;
    --eduact-soft2-rgb: 246, 245, 245;
    --eduact-soft3: #E0E3FD;
    --eduact-soft3-rgb: 224, 227, 253;
    --eduact-soft4: #E4E4E4;
    --eduact-soft4-rgb: 228, 228, 228;
    --eduact-soft5: #F6F6F6;
    --eduact-soft5-rgb: 246, 246, 246;
    --eduact-base: #4F5DE4;
    --eduact-base-rgb: 79, 93, 228;
    --eduact-secondary: #F57005;
    --eduact-secondary-rgb: 245, 112, 5;
    --eduact-black: #2A254D;
    --eduact-black-rgb: 42, 37, 77;
    --eduact-black2: #000000;
    --eduact-black2-rgb: 0, 0, 0;
    --eduact-white: #ffffff;
    --eduact-white-rgb: 255, 255, 255;
}
a{
    text-decoration: none;
}
.text-primary{
    color: var(--primary) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-50{
    font-size: 50px;
}
.fs-60{
    font-size: 60px;
}




/* home seond section css starting here */
body {
    font-family: var(--eduact-font);
    color: var(--eduact-text);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--eduact-black);
    font-weight: 700;
}


/* home page second section css starting here  */

.tiltLiner svg{
    width: 96px;
    height: auto;
}

.tiltLiner h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.4px;
    margin: 0 0 19px;
}

.RightBannerTiltliner{
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 5;
    
}
.RightBannerTiltliner img {
    width: 500px;
    height: auto;
}

.eduction-trymore{
    background-color: var(--eduact-secondary);
    color: white;
}
/* .wrapper-arrow{
    position: absolute;
    right: 0;
    top: 57%;
} */
/* .Pencil-wrapper {
    position: absolute;
    left: -50px;
    top: 65%;
} */
.Buld-wrapper {
    position: absolute;
    top: 10%;
    left: 22%;
    z-index: 6;
}
/* .RoundDotted {
    position: absolute;
    top: 11%;
    left: 23%;
    z-index: 2;
} */
/* .Bookwrapper{
    position: absolute;
    bottom: 0;
} */
.Bookwrapper {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 6;
}

/* @media (min-width:200px) and (max-width:1200px) {
    .wrapper-arrow ,.Pencil-wrapper , .RoundDotted, .Buld-wrapper{
        display: none;
    }
    
} */

@media (min-width:200px) and (max-width:700px) {
    .tiltLiner h2 {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.4px;
        margin: 0 0 19px;
    }
    .ProvideBestSupport{
        margin-top: 14px;
    }
    
}
/* home page second section css ending here  */



/* home thrid section tropy starting here  */

.ProvideBestSupport:hover .fa-solid.fa-check::after  {
    background-color: var(--eduact-secondary) !important;
}

.wrapper-aboutus-left img{
    z-index: 3;
}
.Trophy-wrapper {
    position: absolute;
    top: 0;
    background-color: #4F5DE4;
    border-radius: 8px;
    left: 12%;
    z-index: 5;
}
.Trophy-wrapper i.fa-solid.fa-trophy {
    color: white;
    padding: 19px;
    font-size: 35px;
}
.AwesomeAwards {
    position: absolute;
    top: 7%;
    text-align: center;
    z-index: 4;
    left: 10%;
}
.AwesomeAwards .card {
    padding: 37px;
}
.AwesomeAwards .card .fa-plus{
    color: var(--eduact-secondary);
    font-weight: 900;
    font-size: 35px;
}
.wrapper-dotted-aboutus {
    position: absolute;
    top: 0px;
    left: 40%;
    z-index: 4;
}
.Circle-Egg-Wrapper {
    position: absolute;
    top: 19%;
}
.Wrapper-AboutUs-Arrow {
    position: absolute;
    bottom: -10%;
    left: 30%;
}
.Wrapper-AboutUS-layer {
    position: absolute;
    top: 35%;
    z-index: 5;
    
}

.RightWapperAboutUS .fa-angles-right{
    color: var(--eduact-secondary);
}
.Wrapper-AboutUS-Bulb{
    position: absolute;
    bottom: 0;
    background-color: #4F5DE4;
    border-radius: 8px;
    left: 50%;
    z-index: 5;
}

.Wrapper-AboutUS-Bulb .fa-lightbulb {
    color: white;
    padding: 19px;
    font-size: 35px;
}
.Abouts-Circle-Doted {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.Wrapper-Flexible-classes svg{
    fill: var(--eduact-secondary);
    width: 295px;
    height: auto;
}
.Text-FlexibleClasses {
    position: absolute;
    top: 3%;
    left: 30%;
    z-index: 5;
}
.Flexibles-Clases-Bottom-Text {
    position: absolute;
    top: 50px;
    left: 20%;
}

.Presentation-AboutUs {
    position: absolute;
    bottom: 23px;
    left: 29px;
}
.Presentation-AboutUs  .fa-solid, .fas {
    color: white;
    font-weight: 900;
    font-size: 32px;
}


.Wrapper-RightICon_aboutUS .fa-check:before {
    background-color: var(--eduact-base);
    padding: 5px 8px;
    border-radius: 50%;
    color: var(--eduact-white);
}
.TiltLiner {
    position: absolute;
    top: 85px;
    left: -99px;
}
.DiscoverMore-Abouts{

    background-color: var(--eduact-base);
    color: var(--eduact-white);

}

.Section-AboutUs{
    width: 100%;
    height: 100%;
}

@media (min-width:200px) and (max-width:768px){
    .RightBannerTiltliner {
        padding: 33px;
        position: absolute;
        top: 10%;
        left: -6%;
        z-index: 5;
    }
    .RightBannerTiltliner img {
        width: 100%;
        height: auto;
    }
    .Section-AboutUs{
        margin-top: 30px;
    }
 
    .Circle-Egg-Wrapper {
        display: none;
    }
    .Wrapper-AboutUs-Arrow{
        display: none;
    }
    .Abouts-Circle-Doted{
        display: none;
    }
    .Wrapper-AboutUS-Bulb{
        display: none;
    }
    .Wrapper-AboutUS-layer{
        display: none;
    }
    .wrapper-dotted-aboutus{
        display: none;
    }
    .AwesomeAwards {
        position: absolute;
        top: 78% !important;
        text-align: center;
        z-index: 4;
        left: 24%;
    }
    .Trophy-wrapper {
        position: absolute;
        top: 75%;
        background-color: #4F5DE4;
        border-radius: 8px;
        left: 22%;
        z-index: 5;
    }
    .wrapper-aboutus-left {
        text-align: center;
    }
    .wrapper-aboutus-left img {
        z-index: 3;
        width: 100%;
    }
}
@media (min-width:200px) and (max-width:768px) {
    .Flexibles-Clases-Bottom-Text {
        position: absolute;
        top: 50px;
        left: 27%;
    }
}

@media (min-width:768px) and (max-width:820px) {
    .Text-FlexibleClasses {
        position: absolute;
        top: 3%;
        left: 23%;
        z-index: 5;
    }
    .RightWapperAboutUS {
        margin-top: 116px;
    }
}
/* home thrid section tropy ending here  */






/* foooter css starting here  */
.Footer-section{
    width: 100%;
    height: 100%; 
    background-color: var(--eduact-black);
    /* padding: 55px 25px; */
}
footer {
    background-image: url('https://bracketweb.com/eduact-html/assets/images/shapes/footer-bg-2.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.Footer-section ul{
    list-style: none;
    padding: 25px;


}
.Footer-section ul li{
   margin: 5px 0px;


}
.Footer-section  .wrapper-container-footer  .fa-location-dot,  .fa-envelope{
   color: var(--eduact-secondary);
   
}
.Footer-section  .wrapper-container-footer  .fa-phone-volume{
   color: var(--eduact-secondary);

}
.Footer-SocialIcons .Facebook , .Linkedin, .Twitter, .Youtube{
    text-align: center;
    border: 1px solid var(--eduact-base);
    padding: 4px 11px;
    border-radius: 50%;
    color: white;
    transition: 0.5s;
}
.Footer-SocialIcons .Facebook:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Linkedin:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Twitter:hover{
    background-color: var(--eduact-base);
}
.Footer-SocialIcons .Youtube:hover{
    background-color: var(--eduact-base);
}
.wrapper-image-Gallery .col-lg-4 {
    margin: 10px 0px;
  
}
.wrapper-image-Gallery .col-lg-4 img {
    border-radius: 5px;
  
}
@media (min-width:200px) and (max-width:820px) {
    .wrapper-image-Gallery img{
        width: 100% !important;
        height: auto !important;
    }
    
}
.Mini-Footer-Wrapper{
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #1F1944;
    text-align: center;
}
.Mini-Footer-Wrapper h6{
    color: var(--eduact-text2);
}
/* foooter css ending here  */