*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary : #4F5DE4;
}
.text-primary{
    color: var(--primary) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
}


:root {
    --eduact-font: 'Urbanist', sans-serif;
    --heading-font: 'Urbanist', sans-serif;
    --eduact-text: #697585;
    --eduact-text-rgb: 105, 117, 133;
    --eduact-text2: #B3ADE1;
    --eduact-text2-rgb: 179, 173, 225;
    --eduact-grey: #B7B0B4;
    --eduact-grey-rgb: 183, 176, 180;
    --eduact-soft: #F1F2FD;
    --eduact-soft-rgb: 241, 242, 253;
    --eduact-soft2: #F6F5F5;
    --eduact-soft2-rgb: 246, 245, 245;
    --eduact-soft3: #E0E3FD;
    --eduact-soft3-rgb: 224, 227, 253;
    --eduact-soft4: #E4E4E4;
    --eduact-soft4-rgb: 228, 228, 228;
    --eduact-soft5: #F6F6F6;
    --eduact-soft5-rgb: 246, 246, 246;
    --eduact-base: #4F5DE4;
    --eduact-base-rgb: 79, 93, 228;
    --eduact-secondary: #F57005;
    --eduact-secondary-rgb: 245, 112, 5;
    --eduact-black: #2A254D;
    --eduact-black-rgb: 42, 37, 77;
    --eduact-black2: #000000;
    --eduact-black2-rgb: 0, 0, 0;
    --eduact-white: #ffffff;
    --eduact-white-rgb: 255, 255, 255;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
/* navbar css starting here  */

/* navbar css ending here  */



/* home seond section css starting here */
body {
    font-family: var(--eduact-font);
    color: var(--eduact-text);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.hero-banner-two {
    position: relative;
    background-color: var(--eduact-soft2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 102px 0 110px;
    overflow: hidden;
}

@media (max-width: 1499px){
.hero-banner-two__shape1 {
    left: 20px;
}
}
.hero-banner-two__shape1 {
    position: absolute;
    left: 90px;
    top: 140px;
}
.hero-banner-two__shape1 svg {
    width: 96px;
    height: auto;
}
/* home seond section css ending here */